@media screen and (max-width:600px) {
  .big-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .big-card-imagem img {
        width: 100%;
    }
    .big-card-content {
      font-size: 20px;
      color: green;

    }
}
