.big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25px;
}

img {
  width: 100%;
  height: 300px;
}
.big-card-description {
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}
.big-card-title {
  font-size: 26px;
  color: white;
  font-weight: bold;
  margin-top: 18px;
  width: 70%;
}
.big-card-content {
  width: 70%;
  font-size: 21px;
  color: gray;
  margin-top: 15px;
}
