.menu-title hr {
  margin-top: 10px;
  margin-bottom: 10px;
 border-color: #131313;
  font-weight: bolder;
}
.menu-title > h1 {
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: white;
}


