
<div class="article">

        <div class="small-card-photo">
          <a routerLink="/content/{{id}}">
            <img  src="{{src}}" class="imagem1" alt="">
            </a>
        </div>

        <div class="small-card-content">
          <div class="small-card-description">
          <a routerLink="/content/{{id}}">  <span>20 march 2025.</span> </a>
          </div>

          <div class="small-card-noticia">
           <a routerLink="/content/{{id}}">   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dolore atque modi perferendis possimus iure delectus assumenda quis, sequi earum explicabo ullam odit, accusantium, molestiae ipsam totam. Incidunt, sequi iste.
            </a>
          </div>
        </div>

</div>
