
<div class="article">

        <div class="small-card-photo">
            <img  src="{{src}}" class="imagem1" alt="">
        </div>

        <div class="small-card-content">
          <div class="small-card-description">
            <span>20 march 2025.</span>
          </div>
          <div class="small-card-noticia">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dolore atque modi perferendis possimus iure delectus assumenda quis, sequi earum explicabo ullam odit, accusantium, molestiae ipsam totam. Incidunt, sequi iste.
          </div>
        </div>

</div>
