.container_content {
  width: 100vw;
  border: 2px solid white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.container_content-photo > img {
  width: 500px;
  height: 300px;
  border: 5px solid grey;
  border-radius: 5px;
}
.container_content-noticia {
  width: 40%;
  font-size: 20px;
  color: grey;
  text-align: justify;
  line-height: 25px;
  margin-top: 20px;
  text-indent: 50px;
}
